{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row divider blue">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner main">
		<div class="col-md-1"></div>
		<div class="col-md-11 padding-none">
			<h1>Item Catalog</h1>
		</div>
	</div>

<div class="col-md-3">
        <h6>Categories</h6>
        <div class="list-group">
            {% for categorie in categories %}
            <a href="{{url_for('getCategoryItems', category_name = categorie.name,)}}" class="list-group-item">{{ categorie.name }}</a>
            {% endfor %}
        </div>
    </div>

<div class="col-md-9">
                <h6>Items (<strong>{{count}}</strong>)</h6>
                <div class = "list-group">
                {% for item in items %}
                    <a href = "{{url_for('getItemDetail', category_name = item.category.name, category_item = item.name)}}"" class="list-group-item">
                        <h4>{{ item.name }}</h4>
                    </a>
                {% endfor %}
                </div>
            </div>
{% endblock %}